enter your unique code
<table width="100%">
  <tr>
    <td><span class="glyphicon glyphicon-chevron-up arrow-up" id="arrow-up-1"/></td>
    <td><span class="glyphicon glyphicon-chevron-up arrow-up" id="arrow-up-2"/></td>
    <td><span class="glyphicon glyphicon-chevron-up arrow-up" id="arrow-up-3"/></td>
    <td><span class="glyphicon glyphicon-chevron-up arrow-up" id="arrow-up-4"/></td>
  </tr>
  <tr>
    <td><div class="round-rect round-rect-light_green" id="square-1"/></td>
    <td><div class="round-rect round-rect-green" id="square-2"/></td>
    <td><div class="round-rect round-rect-blue" id="square-3"/></td>
    <td><div class="round-rect round-rect-purple" id="square-4"/></td>
  </tr>
  <tr>
    <td><span class="glyphicon glyphicon-chevron-down arrow-down" id="arrow-down-1"/></td>
    <td><span class="glyphicon glyphicon-chevron-down arrow-down" id="arrow-down-2"/></td>
    <td><span class="glyphicon glyphicon-chevron-down arrow-down" id="arrow-down-3"/></td>
    <td><span class="glyphicon glyphicon-chevron-down arrow-down" id="arrow-down-4"/></td>
  </tr>
</table>
<button type="button" class="btn btn-success" id="enter-button">Enter</button>
